<div>
    <table class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>
                    Оценка
                </th>
                <th>
                    Что понравилось
                </th>
                <th>
                    Дата создания
                </th>
            </tr>
        </thead>
        <tbody class="tbody">
    
        </tbody>
    </table>
    <a id="btn-record" onclick="GetData()" class="btn btn-outline-primary" style="width:100%" >
        Еще записи
    </a>
</div>

@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }

    <script>
        var currentPage = 1;
        var totalPage = 0;
        GetData();
          
        function GetData(){
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetFeedbacks")",
                data: jQuery.param({ pageNumber: currentPage }),
                dataType: "json",
                success: function (data) {
                    NextPage();
                    GetTotalPage(data.total);

                    var html = '';
                    $.each(data.data, function (key, item) {
                        html += '<tr>';
                        html += '<td>' + item.mark + '</td>';
                        html += '<td>' + item.posivite.substring(0, 30) + '... </td>';
                        html += '<td>' + item.createDate + '</td>';
                        html += '<td><a onclick="DetailedInfo('+item.id +')" class="btn btn-outline-primary" style="width:100%"> Подробнее</a></td > ';
                        html += '</tr>';
                    });
                    $('.tbody').html(html);
                },

            })
        }

        function NextPage(){
            if(currentPage!=totalPage){
                currentPage++;
            }
           
            if(currentPage == totalPage){
                $("#btn-record").css({"display":"none"})
            }
        }

        function GetTotalPage(totalRecord){
            totalPage = Math.round(totalRecord/5);
            if(totalPage*5 != totalRecord)
                totalPage++
        }

        function DetailedInfo(id){
            window.location.href = window.location.origin + "/Feedback?id=" + id;
        }

    </script>
}